{% extends 'base.html.twig' %}

{% block title %}Animal{% endblock %}

{% block body %}

<div class="container">
  <h2 class="m-3">
    Voici les informations de "{{animal.name}}"
  </h2>
  {% dump(animal) %}
  <div class="card mt-3">
    <img class="card-img-top" src="http://placehold.it/450x150" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">{{ animal.name }}</h4>
      <h6 class="card-subtitle mb-2 text-muted">{{ animal.type}} : {{ animal.race }}</h6>
      <p class="card-text">
        <strong>Age</strong> : {{ animal.age }} ans <br>
        <strong>traitement hestetique</strong> : oui/non
      </p>
      <a href="{{path('edit_animal', {id:animal.id})}}" class="btn btn-success">Modifier les infos</a>
    </div>
  </div>
  <a href="{{path('profil')}}" class="btn btn-warning mt-3">Retour au profil</a>
</div>
{% endblock %}