{% extends 'base.html.twig' %}

{% block title %}Animal{% endblock %}

{% block body %}

<div class="container">
  <h1>Bonjour!</h1>
  Vous venez d'ajouter un animal dans notre pension animalière
  <ul>
    <h2>Voici ses infos :</h2>
    {# <li> Type : {{ animal.type }} </li>
    <li> Race : {{ animal.race }}</li>
    <li> Nom  : {{ animal.name }}</li>
    <li> Age : {{ animal.age }}</li>
    <li> box : {{ animal.box }}</li> #}
  </ul>
</div>
{% endblock %}