{% extends 'base.html.twig' %}

{% block title %}Hello {{ user.userName }} {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container p-3">

    {% if app.user and user is defined and user.accreditation == 1 %}
    <h1>Bonjour {{ user.userName }} !</h1>

    <h3>Votre Profil : </h3>
    <ul>
        <li> Prénom : {{ user.firstName }} </li>
        <li> Nom : {{ user.lastName }}</li>
        <li> Nom d'utilisateur : {{ user.userName }}</li>
        <li> Adresse mail : {{ user.mail }}</li>
        <li> Téléphone : {{ user.phone }}</li>
    </ul>
    <a  href={{path('profil_edit', {id:user.id})}} class="btn btn-info">Modifier profil</a>
    <a href="{{path('message')}}" class="btn btn-success m-auto "> Contacter l'agence</a>
        <a href="{{path('new_animal')}}" class="btn btn-success col-5 m-auto "> Faire une demande pour l'ajout d'un animal a la
            garderie</a>
    {% elseif app.user and user is defined and user.accreditation == 2 %}
            <h3>Accès à profil Admin</h3>
    {% endif %}


</div>
<hr>

                        <!-- TRAITEMENT DES ANIMAUX -->

<div class="container row offset-3" >

    {% for animals in user.animals %}
    <div class="card col-md-4">
        <img class="card-img-top" src="http://placehold.it/350x150" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title"> {{animals.name}}</h4>
            <h6 class="card-subtitle mb-2 text-muted">{{animals.type}} : {{animals.race}}</h6>
            <p class="card-text">
                <strong>Age</strong> : {{animals.age}} <br>
                <strong>box n°</strong> : {{animals.box}} <br>
                <strong>traitement esthetique</strong> : {{animals.estheticTreatment}}
            </p>
            <a href="{{ path('show_animal',{id:animals.id})}}" class="btn btn-primary">Voir les détails de l'animal</a>
            <p>
                <a class="btn btn-success mt-1" data-toggle="collapse" href="#collapseGeoloc" aria-expanded="false"
                    aria-controls="collapseGeoloc">
                    Afficher la géolocalisation
                </a>
                <button class="btn btn-success mt-1" type="button" data-toggle="collapse" data-target="#collapseBox"
                    aria-expanded="false" aria-controls="collapseBox">
                    Afficher la caméra box
                </button>
            </p>
            
        </div>
    </div>
        {% endfor %}
</div>
<div class="collapse" id="collapseGeoloc">
    <img src={{ '/img/animalPosition.png' }} alt="image de la position" class="offset-3">
</div>
<div class="collapse" id="collapseBox">
    <img src={{ 'img/animalBox.jpg' }} alt="image de l'animal" class="offset-2">
</div>
    
{% endblock %}
